.horizontal-line{
    height: 4px;
    width: 18%;
    background-color: blue;
    margin: auto;
    
}
.tourHeading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top:0 ;
    text-align: center;
}
.title{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 40px;
}