.menu-container{
    width:85%;
    display: flex;

    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}
.menu-card{
    display: flex;

    width: 47%;
    margin-right: 2%;  
    margin-left: .5%;
    margin-bottom: 30px;
}
.text-container{
    width: 59%;
    margin-left: 15px;
}
.image-container{
    width: 40%;
    
}
.image{
    width:100%;
    height: 140px;
    border: 3px solid rgb(219, 157, 40);
}

.title-price-container{
    display: flex;
    justify-content: space-between;
    height: 30px;

}
.title,.price{
    padding-top: 0;
    margin-top: 0px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(59, 57, 57);
}
.price{
    color: rgb(219, 157, 40);
}
.horizontal{
    height: 1px;
    width: 100%;
    background-color: gray;

}
.info{
    text-align: left;
    margin-top: 10px;
    color: gray;
}

@media screen and (max-width: 480px) {
    .menu-container {
      display: block;
    }
    
  }