.App{
    height: 100vh;
    background-color: gray;
    border:1px solid;
}
.card{
    min-height: 20vh;
    width: 35%;
    margin: auto;
    background-color: white;
}
.txt{
    font-size: 25px;
    color: rgb(97, 95, 95);
    margin-left: 5%;
    margin-bottom: 10px;
}
.btn{
    background-color: skyblue;
    color: white;
    height: 40px;
    width: 90%;
    margin:4% 5.5%;
    border: none;
    cursor: grab;
    border-radius: 5px;
    font-size: 20px;

}
.imgDiv{
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.box{
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
}
.text-container{
    margin-left: 5%;
}
.name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 12px;
    
}
.age{
    font-size: 15px;
    color: gray;
    margin-top: 0;
}